@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color1: #ab3d2b;
  --color2: #41bdd3;
  --color3: #0f3750;
  --black: #333;
  --white: #fff;
  --yellow: #fbd66b;
}

.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--yellow);
}
.bg1 {
  background-color: var(--color1);
  color: var(--white);
}
.bg2 {
  background-color: var(--color2);
  color: var(--black);
}
.bg3 {
  background-color: var(--color3);
  color: var(--white);
}
.welcome-icon ion-icon.color1 {
  color: var(--color1);
}
.welcome-icon ion-icon.color2 {
  color: var(--color2);
}
.welcome-icon ion-icon.color3 {
  color: var(--color3);
}
.welcome-icon ion-icon.color4 {
  color: var(--yellow);
}
img {
  width: 100%;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "Abhaya Libre", serif;
}
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
  color: var(--color2);
  font-weight: 600;
}
img {
  width: 100%;
}
.barand-logo img {
  width: 100px;
  margin: 0 13px;
  box-shadow: 0px 0px 23px 11px rgba(255, 255, 255, 1);
  border-radius: 50%;
}
.ml {
  margin-left: 20px !important;
}
.left-menu {
  border-top: 1px solid rgba(255, 255, 255, 0.55);
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);
}
.right-menu {
  border-top: 1px solid rgba(255, 255, 255, 0.55);
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1) !important;
}
.main-aria-sidebar {
  margin-top: 120px !important;
  padding: 50px 0;
}
.btn:hover {
  color: #fff !important;
  background: #1a365f;
}
@media (max-width: 768px) {
  .welcome-info .title-right {
    text-align: center !important;
  }
  .welcome-info .title-left {
    text-align: center !important;
  }
  .welcome-icon {
    text-align: center !important;
  }

  .left-menu {
    border-top: 0px;
    border-bottom: 0px;
  }
  .right-menu {
    border-top: 0px;
    border-bottom: 0px;
  }
  .barand-logo img {
    width: 81px;
  }
  .main {
    min-height: 60vh !important;
  }
  .main h2 {
    font-size: 9vw;
    font-weight: 800;
  }
  .lead {
    font-size: 1rem !important;
    font-weight: 100;
  }
  .main-aria-sidebar {
    position: unset !important;
    top: 0 !important;
    margin-top: 30px !important;
    text-align: center;
  }
  .hero-btn-area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
  .hero-hedding-area {
    margin-bottom: 20px !important;
  }
  .intro {
    margin-bottom: 50px !important;
  }
  .intro-img {
    height: 100% !important;
    width: 100% !important;
  }
  .class-block-info {
    display: flex;
    flex-direction: column;
  }

  .event-area h2::before {
    left: 14%;
  }
  .weekly-area h2::before {
    left: 16%;
  }
  .instructors-title-area h2::before {
    left: 16%;
  }
  .single-block-info {

}
}

/* main video section */

.intro-img {
  object-fit: cover;
  box-shadow: 0.5rem 0.5rem #0f3750;
  height: 258px;
  width: 235px;
}
.main-aria-sidebar p {
}
.main-aria-sidebar h4 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.main-aria-sidebar h2 {
  font-size: 42px;
  color: #000;
  font-weight: 700;
}

.custom-btn {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 6px;
}
.hero-hedding-area {
  margin-bottom: 54px;
}
.custom-btn-one {
  border: 1px solid #0f3750;
  padding: 2px 10px;
  font-size: 18px;
  margin: 6px 0;
  text-align: center;
  transition: 0.3s ease;
}
.custom-btn-one:hover {
  background: #0f3750;
  color: #fff;
}
.btn-color-one {
  background: var(--color3);
  color: var(--white);
}
.main {
  position: relative;
  width: 100%;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  user-select: none;
  mix-blend-mode: screen;
}

.main h2 {
  z-index: 3;
  color: #fff;
  font-size: 4vw;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.sci {
  position: fixed;
  right: 50px;
  bottom: 40px;
  z-index: 4;
  display: flex;
  flex-direction: column;
}
.sci li {
  list-style: none;
}

.sci li a {
  color: var(--black);
  font-size: 1.25em;
}
@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  .sci {
    right: 25px;
  }
}

/* body css*/
#map {
  width: 100%;
  border-radius: 10px;
  height: 178px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.intro-title {
  margin-top: 20px;
}
.card-area .card {
  background-color: none !important;
  border: none !important;
  border-radius: 0 !important;
}
.card-area .card-img,
.card-area .card-img-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.card-area .card-body {
  color: #fff;
  border: 2px dashed;
  border-left: none;
  border-right: none;
}
.event-area h2 {
  padding: 30px 0 8px;
  position: relative;
  z-index: 3;
  font-size: 35px;
  font-weight: 600;
  color: #333;
}
.weekly-area h2 {
  padding: 0 0 8px;
  position: relative;
  z-index: 3;
  font-size: 35px;
  font-weight: 600;
  color: #333;
}
.instructors-title-area h2 {
  padding: 0 0 8px;
  position: relative;
  z-index: 3;
  font-size: 35px;
  font-weight: 600;
  color: #333;
}
.event-area h2::before {
  content: "";
  position: absolute;
  left: 16%;
  bottom: 7px;
  width: 128px;
  height: 14px;
  transform: skew(-53deg) translateX(-50%);
  background: #1883d9;
  z-index: -1;
}
.weekly-area h2::before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 7px;
  width: 128px;
  height: 14px;
  transform: skew(-53deg) translateX(-50%);
  background: #1883d9;
  z-index: -1;
}
.instructors-title-area h2::before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 7px;
  width: 128px;
  height: 14px;
  transform: skew(-53deg) translateX(-50%);
  background: #1883d9;
  z-index: -1;
}
.event-date {
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.event-count {
  margin: 30px 0;
  text-align: center;
}
.single-count {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 600;
}

.upcoming-event-carousel {
  padding: 0 30px;
}

.course-info {
  display: flex;
  flex-direction: column;
  margin: 0 2px;
}
.weekly-course {
  position: relative;
}
.course-fee {
  position: absolute;
  right: 10px;
  top: -29px;
  background: #2487d5;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 59px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 4px;
}
.weekly-course p {
  margin-bottom: 5px !important;
}
.course-card {
  overflow: hidden;
}
.course-card img {
  width: 100%;
  transition: 0.25s ease-in-out;
}
.course-card:hover img {
  transform: scale(1.1);
}
.instructor-name {
  font-weight: 600;
  letter-spacing: 2px;
}
.instructor-title {
}
.instructors-area {
  background: url(img/school2.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instructors-container-area {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 33px 20px;
}
.instructors-container-area:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

/*admission area css*/
.admission-img img {
  object-fit: cover;
  box-shadow: 0.5rem 0.5rem #1a237e;
}
.international-admission-block h1 {
  margin-bottom: 50px;
}
.process-icon ion-icon {
  font-size: 34px;
  padding: 2px;
  color: goldenrod;
}
.welcome-info .title-right {
  text-align: right;
}
.welcome-info .title-left {
  text-align: left;
}
.welcome-item .card {
  border: none;
}
.welcome-icon ion-icon {
  font-size: 60px;
  color: black;
  margin: 0 20px;
}
/*.welcome-icon img{*/
/*    font-size: 40px;*/
/*    color: black;*/
/*    margin: 0 20px;*/
/*}*/
.single-class-item {
  padding: 10px;
  /* box-shadow: 0px 2px 14px rgb(26 26 26 / 11%); */
  border-radius: 7px;
  border: 1px solid #3333330d;
}
.single-class-img img {
  position: relative;
}
.single-class-img {
  position: relative;
}
.class-schedule {
  position: absolute;
  padding: 4px 10px;
  bottom: 11px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 14px;
  font-weight: 200;
}
.class-schedule span {
  font-weight: 600;
  text-transform: capitalize;
}
.single-class-info {
  padding: 14px;
}
.class-info {
  color: #0f3750;
}
.class-info p {
  color: #333 !important;
  font-size: 14px;
  line-height: 19px;
}
.class-block-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-block-info {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 18px;
  padding: 4px 12px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  margin: 0 3px;
}
.blog-title {
}
.blog-title-info {
}
.border-area {
  border: 2px dashed #3333334a;
  padding: 10px;
  border-radius: 7px;
}

.single-blog-item {
}
.single-blog-img {
  border: 2px dashed #3333334a;
  padding: 10px;
  border-radius: 5px;
}
.single-blog-img img {
  border-radius: 5px;
}
.single-blog-info {
}
.blog-info {
}
.blog-info h3 {
  font-size: 26px;
  font-weight: 600;
}
.blog-info p {
  font-size: 17px;
  font-weight: 300;
  margin: 20px 0;
}
.blog-info a {
  color: #333;
  text-transform: capitalize;
  transition: 0.3s ease;
  font-size: 16px;
}
.blog-info a:hover {
  color: #000;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.about-content {
  position: relative;
  z-index: 1;
  padding: 200px 0 150px;
}
.about-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 80px;
  color: #fff;
  margin-bottom: 20px;
  font-size: 54px;
}
.text-yellow {
  color: #42bff7d9;
}
.btn-md {
  padding: 18px 50px;
  font-size: 15px;
  font-weight: 400;
  background: aliceblue;
  border-radius: 45px;
}
.content-inner-2 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-full {
  position: relative;
}
.bg-img-fix {
  background-attachment: fixed;
  background-size: cover;
}
.section-head {
  margin-bottom: 40px;
  margin-top: 40px;
}
.section-head h4 {
  font-size: 35px;
}
.about-content:after {
  background-image: url(img/line-bg1.png);
  top: 0;
}
.about-content:after,
.about-content:before {
  content: "";
  height: 80px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100%;
}
.about-content:before {
  background-image: url(img/line-bg2.png);
  bottom: -1px;
  background-position: bottom;
}

/*footer css*/
footer,
footer .widget_archive ul li a,
footer .widget_categories ul li a,
footer .widget_meta ul li a,
footer .widget_nav_menu li a,
footer .widget_pages ul li a,
footer .widget_recent_comments ul li a,
footer .widget_recent_entries ul li a,
footer .widget_services ul li a,
footer a,
footer a:active,
footer a:focus,
footer a:hover,
footer a:visited,
footer b,
footer h1,
footer h1 a,
footer h2,
footer h2 a,
footer h3,
footer h3 a,
footer h4,
footer h4 a,
footer h5,
footer h5 a,
footer h6,
footer h6 a,
footer p,
footer p a,
footer strong {
  color: var(--white);
}
.footer-top {
  background: var(--color3);
  background-size: cover;
  background-position: 50%;
  padding: 150px 0 50px;
  position: relative;
}
.footer-top:after {
  content: "";
  height: 80px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url(img/line-bg1.png);
  top: 0;
  background-size: 100%;
}
.footer-logo img {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px 11px rgba(255, 255, 255, 0.6);
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.info-list {
  padding: 0;
  margin: 0;
}
.info-list li {
  float: left;
  padding: 10px 0;
  width: 50%;
  list-style: none;
  font-size: 16px;
}
.info-list li a {
}
.footer-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.navigation {
  background-color: #fff;
}
.navigation > .container {
  max-width: 90%;
  margin: auto;
}
.navigation .navbar {
  position: relative;
}
.navigation .navbar .logo-toggle-container {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}
.navigation .navbar .logo-toggle-container a {
  display: block;
}
.navigation .navbar .logo-toggle-container a img {
  width: 120px;
}
.navigation .menu {
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .navigation .menu {
    display: block !important;
    height: auto !important;
  }
}
.navigation .menu li {
  display: inline-block;
  padding: 43px 10px;
}
.navigation .menu li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
  font-size: 16px;
}
.navigation .menu li:nth-child(1),
.navigation .menu li:nth-child(2),
.navigation .menu li:nth-child(3) {
  float: left;
}
.navigation .menu li:hover a {
  background-color: blue;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .navigation .navbar .logo-toggle-container {
    position: static;
    transform: translateX(0%);
  }
  .navigation .navbar .logo-toggle-container a {
    width: 80%;
  }
  .navigation .navbar .logo-toggle-container .toggle-box {
    position: absolute;
    right: 10px;
    top: 30px;
    display: block;
    width: 30px;
    background: #000;
    padding: 15px 9px;
    cursor: pointer;
    border-radius: 5px;
  }
  .navigation .navbar .logo-toggle-container .toggle-box span {
    display: block;
    max-width: 90%;
    margin: auto;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
  }
  .navigation .navbar .logo-toggle-container .toggle-box span:last-child {
    margin-bottom: 0;
  }
  .navigation .menu {
    text-align: center;
    display: none;
  }
  .navigation .menu li {
    display: block;
    float: none !important;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
  }
}

/*teacher css*/
.teacher-section {
  background: url(img/line2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.teacher {
  position: relative;
}

.image {
  display: block;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.4);
}

.teacher:hover .overlay {
  opacity: 1;
}
.text {
  color: #333;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 18px;
  letter-spacing: 1px;
}
.text h4 {
  color: #333;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px -2px 5px #282828;
  margin: 0;
  font-size: 20px;
}
.list-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.list-inline li a ion-icon {
  color: #fff;
  font-size: 17px;
  background: #1c0f0f7a;
  border-radius: 50%;
  padding: 8px;
}
/*teacher css*/

.mage-menu-area {
}
.image-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
}

.image-menu li {
  font-size: 18px;
  font-weight: 600;
}

.single-image {
  position: relative;
  border: 2px dashed #3333334a;
  padding: 10px;
  border-radius: 8px;
}

.image {
  display: block;
  height: auto;
  border-radius: 6px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.6);
}

.single-image:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay a ion-icon {
  font-size: 35px;
  color: #ffffff;
  background: #33333366;
  border-radius: 50%;
  padding: 15px;
}

/* our class css */

.owl-item.active.center .item {
  transform: scale(1);
  opacity: 1;
}
.item {
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.owl-nav .owl-next {
  position: absolute;
  right: 48%;
  opacity: 1;
  font-size: 20px !important;
  z-index: 1;
}
.owl-nav .owl-prev {
  position: absolute;

  left: 48%;
  opacity: 1;
  font-size: 20px !important;
  z-index: 1;
}

.main-image {
  position: relative;
  border-radius: 7px;
}
ion-icon.main-image-hovericon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 26px;
  background: #3333334a;
  border-radius: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
}

.single-image:hover ion-icon.main-image-hovericon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 26px;
  background: #3333334a;
  border-radius: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 1;
}
/* bootstrap menu dropdown modify css */
.dropdown-item {
  color: #ffffff;
  border: 0;
}
.dropdown-menu {
  color: #ffffff;
  background-color: #3fb9cf;
}
/* html {
  scroll-behavior: smooth;
} */
.target {
  height: calc(100vh - 90px);
}

ion-icon.btnTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 40px;
  color: #1c1919;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out ;
  pointer-events: none;
  z-index: 999;

}
ion-icon.btnTop:hover {
  background: #01020a1c;
  transition: .5s;

} 


